package components

templ Imports() {
 <script src="https://unpkg.com/htmx.org@1.9.10"></script>
<link rel="stylesheet" href="/static/bootstrap.min.css">
<link rel="stylesheet" href="/static/style.css">
}
