package components

templ Navbar() {
	<nav class="navbar navbar-expand-lg navbar-light">
		<a href="/" class="nav-link active">Linguatron</a>
		<a href="/decks" class="nav-link">Decks</a>
		<a href="/createdeck" class="nav-link">Create Deck</a>
	</nav>
}
