package components

templ Navbar() {
	<nav class="navbar bg-success text-white py-3">
		<div class="container-fluid align-items-center justify-content-center">
			<div class="d-flex flex-column flex-md-row align-items-center justify-content-center gap-3">
				<a href="/" class="nav-link active">Linguatron</a>
				<a href="/decks" class="nav-link">Decks</a>
				<a href="/createdeck" class="nav-link">Create Deck</a>
			</div>
		</div>
	</nav>
}
