package home

templ HomePage() {
    <html>
        <head>
            <title>Go + Gin + Templ</title>
            <script src="https://unpkg.com/htmx.org@1.9.10"></script>
        </head>
        <body>
            <div id="content">
                <a href="/decks">Decks</a>
            </div>
        </body>
    </html>
}
