package home

import "webproject/components"

templ HomePage() {
    <html>
        <head>
            <title>Go + Gin + Templ</title>
            @components.Imports()
        </head>
        <body>
        @components.Navbar()
            <div id="content">
            <h1>Welcome to Linguatron</h1>
            <pre>Go to <a href="/decks">Decks</a> to get started </pre>
            </div>
        </body>
    </html>
}
